[Desktop Entry]
Name=nestty
Comment=Custom Terminal Emulator
Exec=nestty
Icon=nestty
Type=Application
Categories=System;TerminalEmulator;
Keywords=terminal;shell;console;
StartupNotify=true
StartupWMClass=com.marshall.nestty
